JWT_SECRET=change-me

MAIL_USERNAME=
MAIL_PASSWORD=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=

PYTHON_AGENT_BASE_URL=http://localhost:8000
INTERNAL_AGENT_SERVICE_TOKEN=change-me

OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
OSS_BUCKET_NAME=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_DOMAIN=
OSS_AVATAR_DIR=avatar
OSS_RESUME_AVATAR_DIR=resume-avatar
